body{
    /* background-repeat: no-repeat;
    background-size: cover; */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(144, 206, 221);
}
.password{
    font-size: 20px;
    text-align: center;
}
.div{
    width: 500px;
    height: 200px;
    background-color: white;
    margin-top: 200px;
    margin-left: 500px;
    padding: 40px;
}
#btm{
    margin-top: 50px;
    margin-left: 20px;
}
.btn{
    padding: 10px;
    background-color: transparent;
    border-radius: 25px;
}
.btn:hover{
    background-color: rgb(125, 125, 125);
    border-radius: 30px;
    color:white;
    font-weight: 700;
    cursor: pointer;

}
